<h1 class="text-center">Our Cocktails</h1>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
       <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/300/200?random');">
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
          </div>
          <img class="card-user avatar" src="http://placehold.it/50x50">
          <%= link_to "description", cocktail_path(cocktail), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="text-center">
  <%= link_to "create", new_cocktail_path %>
</div>
