
<div class="wrapper">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6" >
         <div class="card" style="background-image: url('<%= image_path('background.jpg') %>');">
            <div class="card-description">
              <h2><%= @cocktail.name %></h2>
            </div>
            <%= link_to "doses", new_cocktail_dose_path(@cocktail), class: "card-link" %>
          </div>
        </div>
    </div>
  </div>
</div>



<div class="text-center">
  <%= link_to "home", cocktails_path, class: "btn btn-danger btn-lg" %>
</div>
